<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
</head>
<body>
    <center>
    <h1>User Login</h1>

    <ul>
        <% if (messages.success_message) { %>
            <li><%= messages.success_message %></li>
        <% } %>
    </ul>    

    <ul>
        <% if (messages.error) { %>
            <li><%= messages.error %></li>
        <% } %>
    </ul>    

    <form action="/users/login" method="post" autocomplete="off">
        <div>
            <input type="email" id="email" name="email" placeholder="Email" required autocomplete="off">
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password" required autocomplete="off">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
        <a href="/users/register">Don't have an Account? Register</a>
    </form>
</center>
</body>
</html>